<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= tituloAba %></title>
</head>

<body>


    <% 
        let msgErros = {tarefa:"", prazo:"",situacao:""}    
        
        if(listaErros){
            listaErros.errors.forEach((item)=>{
                if(item.path == "tarefa"){
                    msgErros.tarefa = item.msg
                }
                if(item.path == "situacao"){
                    msgErros.situacao = item.msg
                }
                if(item.path == "prazo"){
                    msgErros.prazo += item.msg
                }
            })

        }
        
        
    %>


    <h1><%= tituloPagina %></h1>

    <form action="/cadastro" method="post">
        <input type="hidden" name="id" id="id" value="<%= tarefa.id_tarefa %>">
        <label for="tarefa">Tarefa:</label><br>
        <textarea name="tarefa" id="tarefa"><%= tarefa.nome_tarefa %></textarea> <span><%= msgErros.tarefa %></span><br>

        <label for="prazo">Prazo:</label><br>
        <input type="date" name="prazo" id="prazo" 
        value="<%= moment(tarefa.prazo_tarefa).format("YYYY-MM-DD") %>"> <span><%= msgErros.prazo %></span><br>

        <label for="situacao">Situação:</label><br>
        <% 
            let selecionado = ["","","","",""];
            selecionado[tarefa.situacao_tarefa] = "selected";
        %>
        <select name="situacao" id="situacao">
            <option <%= selecionado[0] %> value="0">Cancelada</option>
            <option <%= selecionado[1] %> value="1">Pendente</option>
            <option <%= selecionado[2] %> value="2">Iniciada</option>
            <option <%= selecionado[3] %> value="3">Finalizada</option>
            <option <%= selecionado[4] %> value="4">Em Atraso</option>
        </select> <span><%= msgErros.situacao %></span><br>
        <button type="submit">Salvar</button>

    </form>


</body>

</html>